

HomePath=/home/pi/htCarSensor
UpdateLog=$HomePath/log/update.log


TimeSync=true

NetworkCheck=true

SoxServer="sox.ht.sfc.keio.ac.jp"

SoxDevice="FujisawaCarSensor8"

Version=0.9
	
UpdateServer="http://dali.ht.sfc.keio.ac.jp/~yin/htCarSensor/Distribution/update"


